@import "tailwindcss.css";

@layer base {
  :root {
    touch-action: manipulation; /* buttons are instant, no double tap to zoom */
    -webkit-tap-highlight-color: transparent; /* no black "overlay" on tap target */
    /* disable text selection */
  }
}

@theme {
  --font-sans: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}